/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  background-color: #EAEAEA;
  margin-top: 0;
}

#content, .content-grid, .review-body, .page-image img{
  margin-left: auto;
  margin-right: auto;
}

h1.header, .content-title, h1.page-title{
  font-family: "Courier New", serif;
  text-align: center;
}

h1.header, h1.page-title{
  font-weight: 100;
  color: #968EAA;
}

h1.header{
  font-size: 5em;
}

#content{
  width: 80%;
  background-color: #FFF;
}

.content-grid{
  width: 70%;
}

.content-block{
  display: inline-block;
  margin-top: 2em;
  margin-left: 1.5em;
}

.content-image img{
  border: 1em solid #D6DEED;
  border-radius: 1em;
}

.content-title{
  font-weight: 150;
  font-size: 2em;
  margin-top: 0.5em;
  color: #67646F;
}

h1.page-title{
  font-size: 3em;
  padding-top: 0.7em;
  margin-bottom: 1em;
}

.page-image img{
  display: block;
}

.review-body{
  width: 80%;
  margin-top: 3em;
  margin-bottom: 10em;
  padding: 4em;

  font-weight: 100;
  font-size: 1em;
  color: #323232;

  border: 0.1em dashed #D1D1D1;
  border-radius: 1em;
}

.form-fields, .actions{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.form-fields{
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 4em;

  font-size: 2em;
  font-weight: 100;
  font-family: "Courier New", serif;
  color: #67849C;

  border: 0.1em solid #D1D1D1;
  border-radius: 1em;
}
.actions input[type="submit" i]{
  background-color: #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius:6px;
  color: #fff;
  font-family: 'Courier New', serif;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  border:none;
}/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
